.row
  %h1 Welcome to the music world
.row(ng-controller="SongsController" ng-init= "init()")
  .col-md-3
    Current song
    .song-info
      {{currentSong.title}}
    .song-description
      {{currentSong.description}}
    .song-jp
      %audio(controls= "" id = "audio1")
        %source(type= "audio/mp3" src="/system/songs/files/000/000/004/original/Anh_Nho_Em_Nguoi_Yeu_Cu_-_Minh_Vuong_M4U.mp3?1401339465")
          Your browser does not support the audio element.
  .col-md-6
    List songs
    %input.ng-valid{"ng-model" => "search", style: "width: 150px;", type: "text"}
    %ol.songs
      %li.song.mix.category(ng-repeat="song in songs | orderBy:'rank' | filter:search" ng-click="setCurrentSong(song)" data-my-order="{{song.rank}}")
        .title
          {{song.title}} {{song.id}}
        .description
          {{song.description}}
        .rank
          Rank: {{song.rank}}

