// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.song.ng-enter, 
.song.ng-leave
{ 
  -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
} 

.song.ng-leave.song.ng-leave-active,
.song.ng-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.song.ng-enter.ng-enter-active, 
.song.ng-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}

.mix {
  display: none;
}